
config SCHED_MONITOR
        def_bool n
	prompt "Enable scheduler monitoring"
	---help---
	  Scheduler monitoring facility.

config SCHED_MONITOR_CORE
        def_bool n
	prompt "Scheduler subsystem monitoring"
	depends on SCHED_MONITOR
	---help---
	  Monitor the scheduler subsystem, and expose the results through the
	  debugfs interface /sys/kernel/debug/sched_monitor/sched_time

config SCHED_MONITOR_FAIR
        def_bool n
	prompt "Fair scheduling class monitoring"
	depends on SCHED_MONITOR
	---help---
	  Monitor the fair scheduling class, and expose the results through the
	  debugfs interface /sys/kernel/debug/sched_monitor/fair_stats

config SCHED_MONITOR_FAIR_IDLE_BALANCING
        def_bool n
	prompt "Fair scheduling class monitoring: idle balancing"
	depends on SCHED_MONITOR_FAIR
	---help---
	  Monitor the idle balancing triggered by the fair scheduling class, and
	  expose the results through the debugfs interface /sys/kernel/debug/sched_monitor/fair_stats/idle_balancing

config SCHED_MONITOR_IPANEMA
        def_bool n
	prompt "Ipanema scheduling class monitoring"
	depends on SCHED_MONITOR
	---help---
	  Monitor the ipanema scheduling class, and expose the results through the
	  debugfs interface /sys/kernel/debug/sched_monitor/ipanema_stats

config SCHED_MONITOR_IPANEMA_IDLE_BALANCING
        def_bool n
	prompt "Ipanema scheduling class monitoring: idle balancing"
	depends on SCHED_MONITOR_IPANEMA
	---help---
	  Monitor the idle balancing triggered by the Ipanema scheduling class, and
	  expose the results through the debugfs interface /sys/kernel/debug/sched_monitor/ipanema_stats/idle_balancing

config SCHED_MONITOR_IDLE
        def_bool n
	prompt "Idle scheduling class monitoring"
	depends on SCHED_MONITOR
	---help---
	  Monitor the idle scheduling class, and expose the results through the
	  debugfs interface /sys/kernel/debug/sched_monitor/idle_stats

config SCHED_MONITOR_IDLE_WC
        def_bool n
	prompt "Work-conservation monitoring"
	depends on SCHED_MONITOR_IDLE
	---help---
	  Monitor the time spent being work conserving, and expose the results
	  through the debugfs interface located in
	  /sys/kernel/debug/sched_monitor/idle_stats

	  Greatly hurts performance. Say N for peak scheduling performance.

config SCHED_MONITOR_TRACER
        def_bool n
	prompt "Event tracer"
	depends on SCHED_MONITOR
	---help---
	Scheduler tracer that provides a per-cpu log in /sys/kernel/debug/sched_monitor/tracer/
	of all scheduling events that happened.

config SCHED_MONITOR_TRACER_BUFFER_SIZE
        int
	default 512
	prompt "Per-cpu buffer size (MiB)"
	depends on SCHED_MONITOR_TRACER
	---help---
	Size of the per-cpu buffer used by the tracer in MiB.

