CONFIG_KGDB=y
CONFIG_KGDB_SERIAL_CONSOLE=y
CONFIG_KGDB_KDB=y

CONFIG_DEBUG_INFO=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_GDB_SCRIPTS=y

CONFIG_IPANEMA_PANIC_ON_BAD_TRANSITION=y

CONFIG_VIRTIO_INPUT=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_INET=y
CONFIG_NET_9P=y
CONFIG_VIRTIO=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_PCI=y
CONFIG_VIRTIO_PCI=y
# CONFIG_RANDOMIZE_BASE is not set

CONFIG_LOCKDEP=y
CONFIG_LOCKDEP_SUPPORT=y

CONFIG_SCSI_MOD=y
CONFIG_SCSI=y
CONFIG_SCSI_PROC_FS=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_CHR_DEV_SG=y
CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_EXT4_FS=y
CONFIG_9P_FS=y
